.form-01 {
	width: 100%;
	display: block;
	text-align: center;

	.input-item {
		position: relative;
		display: block;
		margin-bottom: 40px;

		.label-01 {
			span {
				transition: all 0.3s ease-in-out;
				@include absolute(null, null, 7px, 0);
			}

			&.up span {
				transform: translateY(-23px);
			}
		}

		input {
			height: 30px;
			position: relative;
			z-index: 1;
		}
	}

	input[type="text"],
	input[type="email"] {
		border: none;
		border-bottom: 2px solid #fff;
		background-color: transparent;
		display: block;
		width: 100%;
		color: #fff;

		&::placeholder {
			color: #fff;
			font-size: 15px;
		}

		&:focus {
			outline: none;
		}
	}

	input[type="submit"] {
		margin-top: 40px;
		margin-bottom: 5px;
	}

	@include media('>=lg') {
		input[type="text"],
		input[type="email"] {
			width: 90%;
			transition: all 0.3s ease-in-out;
		}

		.input-group-01 {
			margin: 0 -15px;
			font-size: 0;
			text-align: left;

			.input-item {
				width: 50%;
				display: inline-block;
				padding: 0 15px;
				font-size: 1rem;
			}

			.label-01 span {
				left: 15px;
			}
		}
	}
}

.form-01--02 {
	.input-item {
		input {
			border-bottom-color: #707070;
			color: #707070;

			&:focus {
				border-bottom-color: #1bd9c4;
			}
		}
	}

	.textarea {
		border: 2px solid #707070;
		width: 100%;
		padding: 15px;
		color: #707070;

		&:focus {
			border-color: #1bd9c4;
			outline: none;
		}
	}

	.label-02 {
		display: block;
		text-align: left;
		margin-bottom: 8px;
	}

	input[type="submit"] {
		margin-top: 0;
		box-shadow: 0 0.625rem 2.5rem 0 rgba(0, 0, 0, 0.06);
	}
}

.form-02 {
	display: block;
	width: 100%;

	.input-01 {
		display: inline-block;
		width: 100%;
		border: 1px solid #1bd9c4;
		padding: 20px;
		@include font(1, 600, #979799);
		margin-bottom: 18px;
		text-align: left;
		border-radius: 4px;
		
		&::placeholder {
			color: #979799;
			text-transform: capitalize;
		}

		&:focus {
			outline: none;
		}
	}

	input[type="submit"] {
		display: inline-block;
		margin-top: 17px;
	}

	@include media('>=md') {
		.input-01 {
			width: 27%;
			margin-right: 10px;
			

			&:last-child  {
				width: auto;
				margin-right: 0;
			}
		}
	}

	@include media('>=lg') {
		.input-group {
			font-size: 0;
			display: inline-block;
		}

		.input-01 {
			width: 29%;
		}

		input[type="submit"] {
			margin-top: 0;
			min-height: 60px;
		}
	}
}