#preloader {
	@include fixed(0, 0, 0, 0);
	background-color: #fff;
 	transition: all 0.3s ease-in-out;
 	z-index: 99999999;

	#sotatekCanvas {
		@include absolute(50%, 50%);
		transform: translate(50%, -50%);
	}

	&.hide {
		opacity: 0;
		visibility: hidden;
		transform: scale(2);
	}
}