
@import 'vendor/_position.scss';

//textbox-01
.textbox-01 {
	background-color: #fff;

	.textbox__image-wrapper {
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			width: 100%;
			padding-top: 67.62821%;
		}
	}

	.textbox__image {
		@include absolute(0, 50%, 0);
		height: 100%;
		transform: translateX(50%);
	}

	.textbox__text-content {
		padding: 20px;
	}

	.textbox__title {
		@include font(1.5, 600, #223547);
		margin-bottom: 10px;
	}

	.textbox__desc {
		@include font(1, 500, #223547);
	}
}

//textbox-01--02
.textbox-01--02 {
	.textbox__image-wrapper {
		.textbox__image {
			width: 100%;
			height: auto;
			top: 50%;
			right: 0;
			transform: translateX(0);
			transform: translateY(-50%);
		}

		&:before {
			padding-top: 100%;
		}
	}

	.textbox__text-content {
		padding: 35px;
	}

	.tag-list {
		margin-bottom: 15px;

		.tag-item {
			text-transform: uppercase;
			letter-spacing: 1.5px;
			font-weight: 400;
		}
	}

	.textbox__title {
		@include font(null, 600, #223547);
		padding-bottom: 30px;
		position: relative;
	}

	.line {
		display: inline-block;
		width: 62px;
		height: 5px;
		background-color: #223547;
		margin-bottom: 18px;
		transition: all 0.3s ease-in-out;
	}

	.textbox__time {
		@include font(0.875, 600, #223547);
		margin-bottom: 18px;
		display: inline-block;
	}

	.textbox__desc {
		@include font(1, 600, #223547);
		margin-bottom: 18px;
	}

	@include media('>=lg') {
		.textbox__title {
			font-size: 2.75rem;
		}

		.tag-item {
			font-size: 0.875rem;
		}
	}
}

.textbox-01--02--02 {
	.textbox__title {
		padding-bottom: 11px;
	}

	.textbox__desc {
		margin-bottom: 20px;
	}
}

.textbox-01--02--03 {
	.textbox__image-wrapper:before {
		padding-top: 67.62821%;
	}
	
	@include media('>=lg') {
		display: table;

		.textbox__image-wrapper {
			display: table-cell;
			width: 50%;
		}

		.textbox__text-content {
			display: table-cell;
			vertical-align: middle;
			height: 100%;
		}
	}
}

.textbox-01--03 {
	.textbox__image-wrapper:before {
		padding-top: 100%;
	}

	.textbox__image {
		width: 100%;
		height: auto;
		top: 50%;
		right: 0;
		transform: translateX(0);
		transform: translateY(-50%);
	}

	.textbox__text-content-wrapper {
		background-color: rgba(#000, 0.7);
		color: #fff;
		@include absolute(0, 0, 0, 0);
		transition: all 0.3s ease-in-out;
		opacity: 0;
		visibility: hidden;
	}

	.textbox__text-content {
		@include centerY();
		padding-left: 30px;
	}

	.textbox__subtitle {
		@include font(0.875, 600, #fff);
		margin-bottom: 10px;
	}

	.textbox__title {
		@include font(2.35, 600, #fff);
		margin-bottom: 40px;
	}

	.textbox__desc {
		margin-top: 20px;
		@include font(0.875, 400, #223547);
		line-height: 1.57;
	}

	.arrow {
		width: 33px;
		height: 14px;
		transition: all 0.3s ease-in-out;
	}

	.top-wrapper {
		position: relative;
	}

	&:hover .textbox__text-content-wrapper {
		opacity: 1;
		visibility: visible;
	}

	@include media('>=lg') {
		.textbox__desc {
			font-size: 0.875rem !important;
		}
	}
}

.textbox-01--04 {
	.textbox__text-content {
		 padding: 32px 16px;
	}

	.textbox__desc {
		line-height: 1.5;
		margin-bottom: 20px;
		display: inline-block;
	}

	.phone-item {
		display: inline-block;
		@include font(1, 600, #1c77c3);
		margin-right: 27px;
	}
}

.textbox-01--05 {
	.textbox__title {
		color: #094074;
	}

	.textbox__desc {
		line-height: 1.5;
	}
}

.textbox-01--02--02 {
	// .textbox__title
}

//textbox-02
.textbox-02 {
	border: 1px solid #ccc;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	height: 100%;

	.textbox__image-wrapper {
		display: none;
	}

	.textbox__text-content {
		padding: 30px 0 30px 3%;
	}

	.textbox__title {
		@include font(1.5, 600, #223547);
		margin-bottom: 10px;
		transition: all 0.3s ease-in-out;
	}

	.textbox__desc {
		@include font(1.25, 400, #223547);
		margin-bottom: 5px;
		display: inline-block;
		position: relative;
		transition: all 0.3s ease-in-out;
	}

	.line {
		transition: all 0.5s ease-out;
		padding-top: 0;
		padding-bottom: 0;
		width: 0;
		background-color: #000;
		opacity: 0;
		visibility: hidden;
		margin-bottom: 5px;
	}

	.textbox__link {
		display: block;
		@include font(0.875, 400, #1c77c3);
		transition: all 0.3s ease-in-out;
	}

	@include media('>=md') {
		display: flex;
		align-items: center;

		.textbox__image-wrapper {
			position: relative;
			float: left;
			background-color: #fff;
			width: 30%;
			display: block;

			&:before {
				content: '';
				display: block;
				width: 100%;
				padding-top: 131%;
			}
		}

		.textbox__image {
			@include absolute(50%, 0, null, 0);
			width: 100%;
			transform: translateY(-50%);
		}

		.textbox__text-content {
			width: 70%;
			float: right;
			padding: 0 0 0 3%;
		}
	}

	@include media('>=lg') {
		.textbox__image-wrapper {
			width: 45%;
		}

		.textbox__title {
			font-size: 1.875rem;
		}
	}
}

.textbox-02--01 {
	border: none;

	.textbox__image-wrapper:before {
		padding-top: 64.7%;
	}

	.textbox__title {
		// font-family: "fontSecond";
		font-size: 1.5625rem;
		margin-bottom: 18px;
	}

	.textbox__desc {
		font-family: "fontSecond";
		margin-bottom: 18px;
		font-size: 0.875rem;
	}

	.textbox__link {
		display: block;
		text-decoration: underline;
		font-size: 1.125rem;
	}

	@include media('>=md') {
		.textbox__title {
			font-size: 1.25rem;
		}

		.textbox__desc {
			font-size: 1.25rem;
			font-weight: 600;
 		}

		.textbox__image-wrapper {
			width: 50%;
		}

		.textbox__text-content {
			width: 50%;
			padding: 0 0 0 50px !important;
		}
	}

	@include media('>=lg') {
		.textbox__image-wrapper {
			background-color: transparent;
		}

		.textbox__title {
			font-family: "fontBase";
			font-size: 1.875rem;
			font-weight: 600;
		}

		.textbox__desc {
			font-weight: 600;
			font-size: 1.25rem;
		}

		.textbox__image-wrapper {
			width: 42%;
		}

		.textbox__text-content {
			width: 58%;
			padding: 0 0 0 50px !important;
		}
	}
}

.textbox-02--02 {
	@extend .textbox-02--01;

	.textbox__subtitle {
		@include font(1.5625, bold, #223547, "fontSecond");
		margin-bottom: 15px;
	}
}

//textbox-03
.textbox-03 {
	text-align: center;

	.textbox__image-wrapper {
		margin-bottom: 18px;
		text-align: center;
	}

	.textbox__image {
		width: 75%;
	}

	.textbox__title {
		display: none;
	}

	.textbox__link {
		@include font(0.984, 600, #1c77c3);
	}

	@include media('>=md') {
		.textbox__title {
			display: block;
			@include font(0.875);
		}
	}

	@include media('>=lg') {
		.textbox__title {

		}
	}
}

//textbox-04
.textbox-04 {
	.textbox__title {
		@include font(1, 600, #1c77c3);
		margin-bottom: 10px;
	}

	.textbox__desc {
		@include font(1, 300, null, 'fontSecond');
		line-height: 23px;
	}
}

.textbox-05 {
	display: inline-block;
	.title {
		position: relative;
		@include font(1.125);
		padding-top: 18px;

		&:before {
			content: '';
			display: block;
			width: 60px;
			height: 5px;
			background-color: #1bd9c4;
			@include absolute(null, null, 100%, 0);

		}
	}
}

.textbox-05--02 {
	.title {
		@include font(1.125, 600, #223547);
		margin-bottom: 7px;
	}

	.desc {
		@include font(1, 400, #223547);
	}
}

.textbox-06 {
	display: inline-block;
	text-align: center;

	.title {
		@include font(1, 600, #1c77c3);
		text-align: left;
	}

	.link {
		display: none;
		font-size: 1rem;
	}

	@include media('>=md') {
		.title {
			font-size: 1.875rem;
			position: relative;
			margin-bottom: 30px;
			padding-bottom: 30px;
			color: #223547;
			text-align: center;
			
			&:before {
				content: '';
				display: block;
				transition: all 0.5s ease-in-out;
				@include absolute(null, 50%, 0);
				transform: translateX(50%);
				height: 5px;
				width: 80px;
				background-color: #1c77c3;
			}
		}
		
		.link {
			display: block;
			@include font(0.875, null, #1c77c3);
		}

		&:hover {
			.title:before {
				width: 100px;
			}
		}
	}
}

.textbox-07 {
	.title {
		@include font(1.875, 600, #223547);
		margin-bottom: 20px;
	}

	.progress {
		width: 64px;
		height: 4px;
		background-color: #efefef;
		margin-bottom: 20px;
		position: relative;
		overflow: hidden;

		.blue {
			content: '';
			display: block;	
			background-color: #1c77c3;
			width: 0;
			@include absolute(0, null, 0, 0);
		}
	}

	.desc {
		@include font(1.375, 400, #223547, "fontSecond");
		margin-bottom: 20px;
	}

	.subtext {
		@include font(1, 400, #707070, "fontSecond");
		margin-bottom: 20px;
	}

	.button-item {
		display: inline-block;
		margin-right: 17px;

		img {
			width: 33px;
			height: 14px;
		}

		.prev {
			transform: rotateZ(180deg);
		}
	}

	@include media('>=lg') {
		.title {
			font-size: 2.5rem;
			margin-bottom: 18px;
		}

		.progress {
			margin-bottom: 18px;
		}

		.desc {
			font-size: 1.875rem;
			line-height: 1.275;
		}

		.subtext {
			font-size: 17px;
		}
	}
}

.textbox-08 {
	display: table;
	font-size: 0;

	.textbox__image-wrapper {
		width: 45px;
		height: 45px;
		display: table-cell;
		vertical-align: middle;

		.textbox__image {
			width: 100%;
		}
	}

	.textox__content {
		display: inline-block;
		width: calc(100% - 45px);
		padding-left: 17px;
	}

	.title {
		@include font(1.125, 400, #223547);
		margin-bottom: 7px;
	}

	.desc {
		@include font(1, 600, #1c77c3, "fontSecond");
		line-height: 1.5;
	}
}

.textbox-09 {
	.textbox__image-wrapper {
		position: relative;
		margin-bottom: 15px;

		&:before {
			content: '';
			display: block;
			position: relative;
			width: 100%;
			padding-top: 100%;
			background-color: #f8f8f8;
		}
	}

	.textbox__image {
		@include absolute(0, 0, 0, 0);
		width: 100%;
		height: 100%;
	}

	.title {
		@include font(1.125, 600, #223547, "fontSecond");
		text-transform: capitalize;
		margin-bottom: 7px;
	}

	.desc {
		@include font(0.875, 600, #223547, "fontSecond");
	}

	@include media('>=md') {
		.title {
			margin-bottom: 10px;
		}

		.desc {
			font-weight: 400;
		}
	}

	@include media('>=lg') {
		position: relative;
	
		.textbox__content {
			@include absolute(null, 0, 0, 0);
			padding: 0 15px 15px;
			opacity: 0;
			visibility: visible;
			transition: all 0.3s ease-in-out;

			.title,
			.desc {
				font-size: 1.25rem;
				position: relative;
				color: #fff;
			}

			.desc {
				display: block;
				font-size: 1rem;
			}

			&:before {
				content: '';
				display: block;
				@include absolute(null, 0, 0, 0);
				padding-top: 100%;
				width: 100%;
				background: linear-gradient(to top, #223547 0%, rgba(34, 53, 71, 0) 100%);
			}
		}

		&:hover {
			.textbox__content {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.textbox-10 {
	position: relative;

	.textbox__image-wrapper {
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			width: 100%;
			padding-top: 67.62821%;
		}
	}

	.textbox__image {
		@include absolute(0, 50%, 0);
		height: 100%;
		transform: translateX(50%);
	}

	.title {
		@include font(1.875, 600, #223547);
		margin-bottom: 7px;
	}

	.desc {
		@include font(1, 400, #223547);
	}

	.textbox__content-wrapper {
		background-color: #fff;
	}

	.textbox__content {
		padding: 30px 15px;
	}

	@include media('>=md') {
		.textbox__image-wrapper:before {
			padding-top: 100%;
		}

		.textbox__image-wrapper {
			width: 50%;
		}

		.textbox__content {
			padding: 0 30px;
			@include centerY;
			left: 0;
			right: 0;
		}
	
		.textbox__content-wrapper {
			@include absolute(0, 0, 0);
			width: 50%;
		}
	}

	@include media('>=lg') {
		.title {
			.number {
				font-size: 4rem;
			}

			.text {
				font-size: 1.875rem;
			}
		}

		.desc {
			line-height: 1.5;
		}
	}
}

.textbox-10--02 {
	.textbox__content-wrapper {
		right: auto;
		left: 0;
	}

	.textbox__image-wrapper {
		left: 100%;
		transform: translateX(-100%);
	}
}

.textbox-11 {
	.textbox__image-wrapper {
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			width: 100%;
			padding-top: 67.62821%;
		}
	}

	.textbox__image {
		@include absolute(0, 50%, 0);
		height: 100%;
		transform: translateX(50%);
	}

	.textbox__content {
		padding: 30px 15px;
	}

	.title {
		@include font(1.875, 600, #223547);
		margin-bottom: 7px;
	}

	.subtitle {
		@include font(0.875, 600, #707070);
		margin-bottom: 18px;
	}

	.grid-item {
		margin-bottom: 18px;
		padding: 8px;
			@include font(1, 600, #1c77c3);

		a {
			display: inline-block;
			@include font(1, 600, #1c77c3);
		}
	}

	@include media('>=md') {
		.grid-item {
			margin-bottom: 5px;
		}
	}
}

.textbox-12 {
	display: block;

	.textbox__image-wrapper {
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			display: block;
			width: 100%;
			padding-top: 67.62821%;
		}
	}

	.textbox__image {
		@include absolute(0, 50%, 0);
		height: 100%;
		transform: translateX(50%);
	}

	.textbox__content {
		background-color: #fff;
		padding: 34px 17px;
	}

	.breadcum {
		display: inline-block;
		@include font(0.875, 600, #223547);
		margin-bottom: 18px;
	}

	.title {
		@include font(1.5, 600, #223547);
		line-height: 27px;
		margin-bottom: 18px;
	}

	.time {
		@include font(0.875, 600, #223547);
		margin-bottom: 18px;
		display: inline-block;
	}

	.desc {
		@include font(1, 600, #223547);
		margin-bottom: 18px;
	}

	.line {
		display: inline-block;
		width: 62px;
		height: 5px;
		background-color: #223547;
		margin-bottom: 18px;
		transition: all 0.3s ease-in-out;
	}

	.link {
		display: block;
		@include font(1, 500, #1c77c3);
	}

	@include media('>=md') {
		.textbox__content {
			padding: 70px 35px;
		}
	}

	@include media('>=lg') {
		font-size: 0;
		display: table;

		.textbox__content {
			padding: 70px 35px;
			width: 50%;
			display: table-cell;
			vertical-align: middle;
		}

		.textbox__image-wrapper {
			display: table-cell;
			width: 50%;
			vertical-align: top;
		}

		.title {
			font-size: 2.75rem;
			line-height: 50px;
		}

		&:hover {
			.line {
				width: 124px;
			}
		}
	}
}